# Основные зависимости здесь

# Python-Telegram-Bot
python-telegram-bot==21.1

# Flask
Flask==2.3.2
Flask-Admin==1.6.0

# SQLAlchemy
SQLAlchemy==2.0.11

# PostgreSQL
psycopg2-binary==2.9.5

# Alembic для миграций
alembic==1.10.0

# Начинаем прятать порты хосты и пр. в dotenv
python-dotenv==0.19.0
